
:root{
    --bg-color:#fff;
    --font-color:#667085;
    --heading-color: #101828;
    --primary:#8E2424;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100%;
    background: var(--bg-color);
    font-family: 'Inter', sans-serif;
}

button{
    cursor: pointer;
    border: none;
    background: transparent;
}

/*Nav bar*/
nav{
    display: flex;
    justify-content: space-between;
    margin: 1.65rem 7rem;
}

nav div:nth-child(1){
    display: flex;
    justify-content: center;
}

nav div:nth-child(1) div{
    display: flex;
    margin-left: 7.4rem;
}
nav div:nth-child(1) div button + button{
    margin-left: 2rem;
}

nav div:nth-child(1) div button{
    margin-left: 2rem;
    font-size: 1rem;
    color: var(--font-color);
    line-height: 24px;
    width: fit-content;
    height: 1rem;
}

nav div{
    display: flex;   
    align-items: center;
}

nav div:nth-child(2) button{
    width: fit-content;
    height: fit-content;
    font-size: 1rem;
    line-height: 24px;
    color: var(--font-color);
    margin-right: 30px;
}


nav div:nth-child(2) button.login{
    font-size: 1rem;
    line-height: 24px;
    color: var(--bg-color);
    background: var(--primary);
    border-radius: 8px;
    width: 7rem;
    height: 2.5rem;
}
/* Header */

header{
    width: 100vw;
    height: 25.5rem;
    padding: 6rem 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

header h2{
    color: var(--primary);
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5rem;
    margin-bottom: 2rem;
}

header h1{
    font-size: 3rem;
    font-weight: 600;
    line-height: 3.75rem;
    margin-bottom: 2rem;
}

header p {
    font-size: 1.25rem;
    line-height: 400;
    line-height: 1.875rem;
    color: var(--font-color);
}